@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body{
  font-family: Courier, monospace;
  background-color: #fff4e6;
  margin: 0.5% 5% 0 5%; 
}

header {
  background-color: #3c2f2f;
  position: relative;
}

header h1{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
  align-items: center;
}

header h2 {
  max-width: 100%;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  background-color: #3c2f2f;
  color: #ffffff;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header hr{
  margin: 0 auto;
  border: 1 solid #fff4e6;
  max-width: 81%;
}

header img {
  width:50px;
  height:45px;
  position: absolute;
  right: 0;
  top: 0;
}

.pages {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 30% 70%;
}

.drafts {
  margin: 0px;
  padding: 0px 5px 5px 5px;
}

.draft-details {
  margin: 5px;
  padding: 10px;
  background-color: #3c2f2f;
  color:#ffffff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
  position: relative;
}

.add-draft {
  margin: 5px;
  padding: 10px;
  background-color: #3c2f2f;
  color:#ffffff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
  position: relative;
}

.draft-details h4 {
  position: relative;
  margin: 0px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
  
}

.draft-details h4:hover{
  /* transition-property: overflow;
  transition-duration: 2s;
  overflow: visible; 
  white-space: normal;
  height:auto; */
}

.draft-details p {
  margin: 0px;
}

.draft-details hr{
  border: 1 solid #fff4e6;
  max-width: 99%;
}

.draft-details:hover{
  /* transform: translate(1%, 0); */
}

.draft-details:hover hr{
  border-color: #ffe600;
}

.draft-details#selected {
  border-color: #ff0000;
  /* transform: translate(1%, 0); */
}

.draft-details#selected h4{
  /* overflow: visible; 
  white-space: normal;
  height:auto; */
}

.draft-details#selected hr {
  border-color: #ff0000;
}

.draft-details div.delete{
  position: absolute;
  right: 9px;
  bottom: 7px;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  text-align: center;
  justify-content: center;
}

.draft-details div.delete:hover{
  background-color: #ffffff3b;
}

.draft-details img{
  margin-top: 1px;
  height: 20px;
  width: 20px;
}

.draft-content textarea{
  margin: 5px 0 0 10px;
  max-width: 100%;
  width: 96%;
  height: 572px;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}

.draft-details .timestamp {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 11px;
}

button.add {
  background-color: #3c2f2f;
  color: #ffffff;
  position: absolute;
  right: 9px;
  border-radius: 50%;
  border-color: #ffffff;
  height: 25px;
  width: 25px;
  margin-top:-0.1em;
}

button.add:hover {
  background-color: #ffffff;
  color: #3c2f2f;
  border-color: #3c2f2f;
}

input {
  padding: 1px;
  border-radius: 5px;
}



